<!DOCTYPE html>
<html>
  <head>
    <title>rePost Image-Text Extractor</title>
  </head>

  <body>
    <h1 style = 'color:rgb(96, 165, 255); font-family: Cambria; margin-bottom: 50px; font-size: 50px; 
    border: rgb(96, 165, 255) 3px solid; margin-right: 570px; 
    margin-left: 570px;'><center>rePost Image-Text Extractor</center></h1>
    <form action = '/' method="POST" enctype="multipart/form-data">

    <div style = "position: relative; left:600px; top:200px;">
      <input type="file" name="file">
    </div>

    <div style = "position: relative; left:1200px; top:180px;">
      <input type="submit" value="Extract Text">
    </div>
    </form>
  </body>

</html>